[data15]

dataType= data
configFile= MxAODDetailed.config
inputList= data_13TeV_HIGG1D1.txt
eosFolderStage= data_25ns
eosFolder= data15/runs

[data16]

dataType= data
configFile= MxAODDetailed.config
inputList= data_13TeV_HIGG1D1.txt
eosFolderStage= data_25ns
eosFolder= data16/runs

[data17]

dataType= data
configFile= MxAODDetailed.config
inputList= data_13TeV_HIGG1D1.txt
eosFolderStage= data_25ns
eosFolder= data17/runs

[data18]

dataType= data
configFile= MxAODDetailed.config
inputList= data_13TeV_HIGG1D1.txt
eosFolderStage= data_25ns
eosFolder= data18/runs

[Nominal]

dataType= MC
configFile= MxAOD.config
inputList= <mcType>_HIGG1D1.txt
eosFolderStage= Nominal
eosFolder= Nominal/<mcType>

[PhotonSys]

dataType= MC
configFile= MxAODPhotonSys.config
inputList= <mcType>_PhotonSys.txt
eosFolderStage= PhotonSys
eosFolder= <mcType>/PhotonSys

[PhotonAllSys1]

dataType= MC
configFile= MxAODPhotonAllSys1.config
inputList= <mcType>_PhotonAllSys1.txt
eosFolderStage= PhotonSys
eosFolder= FlavorSys/AllSys1/<mcType>

[PhotonAllSys2]

dataType= MC
configFile= MxAODPhotonAllSys2.config
inputList= <mcType>_PhotonAllSys2.txt
eosFolderStage= PhotonSys
eosFolder= FlavorSys/AllSys2/<mcType>

[PhotonAllSys3]

dataType= MC
configFile= MxAODPhotonAllSys3.config
inputList= <mcType>_PhotonAllSys3.txt
eosFolderStage= PhotonSys
eosFolder= FlavorSys/AllSys3/<mcType>

[PhotonAllSys4]

dataType= MC
configFile= MxAODPhotonAllSys4.config
inputList= <mcType>_PhotonAllSys4.txt
eosFolderStage= PhotonSys
eosFolder= FlavorSys/AllSys4/<mcType>


[LeptonMETSys]

dataType= MC
configFile= MxAODLeptonMETSys.config
inputList= <mcType>_LeptonMETSys.txt
eosFolderStage= LeptonMETSys
eosFolder= <mcType>/LeptonMETSys

[FlavorSys]

dataType= MC
configFile= MxAODFlavorSys.config
inputList= <mcType>_FlavorSys.txt
eosFolderStage= FlavorSys
eosFolder= <mcType>/FlavorSys

[FlavorAllSys1]

dataType= MC
configFile= MxAODFlavorAllSys1.config
inputList= <mcType>_FlavorSys.txt
eosFolderStage= FlavorSys
eosFolder= FlavorSys/AllSys1/<mcType>

[FlavorAllSys2]

dataType= MC
configFile= MxAODFlavorAllSys2.config
inputList= <mcType>_FlavorSys.txt
eosFolderStage= FlavorSys
eosFolder= FlavorSys/AllSys2/<mcType>

[FlavorAllSys3]

dataType= MC
configFile= MxAODFlavorAllSys3.config
inputList= <mcType>_FlavorSys.txt
eosFolderStage= FlavorSys
eosFolder= FlavorSys/AllSys3/<mcType>

[FlavorAllSys4]

dataType= MC
configFile= MxAODFlavorAllSys4.config
inputList= <mcType>_FlavorSys.txt
eosFolderStage= FlavorSys
eosFolder= FlavorSys/AllSys4/<mcType>

[FlavorSysLoose]

dataType= MC
configFile= MxAODFlavorSysLoose.config
inputList= <mcType>_FlavorSysLoose.txt
eosFolderStage= FlavorSys
eosFolder= <mcType>/FlavorSysLoose


[JetSys]

dataType= MC
configFile= MxAODJetSys.config
inputList= <mcType>_JetSys.txt
eosFolderStage= JetSys
eosFolder= <mcType>/JetSys


[JetSys1]

dataType= MC
configFile= MxAODJetSys1.config
inputList= <mcType>_JetSys.txt
eosFolderStage= JetSys
eosFolder= JetSys/AllSys1/<mcType>

[JetSys2]

dataType= MC
configFile= MxAODJetSys2.config
inputList= <mcType>_JetSys.txt
eosFolderStage= JetSys
eosFolder= JetSys/AllSys2/<mcType>

[JetSys3]

dataType= MC
configFile= MxAODJetSys3.config
inputList= <mcType>_JetSys.txt
eosFolderStage= JetSys
eosFolder= JetSys/AllSys3/<mcType>

[JetSys4]

dataType= MC
configFile= MxAODJetSys4.config
inputList= <mcType>_JetSys.txt
eosFolderStage= JetSys
eosFolder= JetSys/AllSys4/<mcType>
